.footer {
  padding: 60px 0 40px;
  margin-top: auto;
  background-image: linear-gradient( 176deg, rgb(93, 89, 89),rgb(48, 48, 48), rgb(93, 89, 89));
  text-align: center;
}

.footer-top {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #867c7c;
}

.footer-item {
  color: #ffa11d;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: inline-block;;
}

.footer-slogan {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #ffa11d;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000;
  transition: color 0.2s;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #000;
}
