
.header-contener {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-image: linear-gradient( 176deg, rgb(93, 89, 89),rgb(48, 48, 48), rgb(93, 89, 89));
    border: 1px solid #808080;
    border-top: 0;
    border-radius: 0 0 25px 25px;
}

.cap {
    background-image: url('../img/M4F_1266525487_sm.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
}


.header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.6s;
}

.link:hover {
    color: #794702;
}

.header-inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4px;;
}

.slogan {
    color: #ffa11d;
    margin: 0;
}

.user-controls {
    position: relative;
    top: 11px;
}

.user-nav {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none
}

.nav-list {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.nav-item {
    list-style: none;
} 


.link {
    text-decoration: none;
    color: #ffa11d;
}

.number {
    font-size: 12px;
}

.nav-list a:hover {
    fill: #794702;
}

.icons:hover svg path {
    fill: #794702;
}

.text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 450px;
    margin: 100px 0 0 50px;
    line-height: 120%;
    font-size: 18px;
    color: #f8ea9d;
}

.text-heading {
    text-transform: uppercase;
}

.text-paragraph1,
.text-heading {
    margin-bottom: 20px;
}

