
.cards-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #ffc97d;
}

.cards-text {
    text-align: center;
    max-width: 513px;
    margin: 0 auto 60px;
    color: #ffc97d;
}

.cards-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;
}

.cards-flex-item {
    flex: 0 0 25%;
}

.cards-flex-inner {
    display: flex;
    border: 2px solid #000000;
    background-color: #d3d3d3;
}

.cards-flex-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    width: 180px;
    height: 173px;
    margin: 8px;
    border: 1px dashed #c39264;
}

.link-product {
    display: flex;
    width: 180px;
    height: 190px;
}

.cards-button {
    display: block;
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    text-align: center;
    max-width: 436px;
    margin: 0 auto;
}