body {
    font-family: "Montserrat", sans-serif;
}

.contener {
    border: 1px inset #000;
    box-shadow: 3px 2px 2px 3px #4e4949;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    background: #fbff08;
}

.form-group1 {
    border: 0;
    padding-bottom: 0
}

label {
    display: block;
    padding-bottom: 5px;
    Font-weight: 500;
}

.legend {
    padding: 15px 0px 0px 0px;
    font-weight: 700;
}

legend {
    font-weight: 500;
}

.form-group2 {
    border: 0;
    padding-bottom: 0;
}

textarea {
    resize: vertical;
    max-height: 200px;
    background: #bcb9b9;
    border-radius: 5px;
}

.input {
    margin-bottom: 10px;
    background: #bcb9b9;
    border-radius: 5px;
}

.checkbox {
    margin: 0;
    cursor: pointer;
}

button {
    margin: 0 0 14px 14px;
    background: #bcb9b9;
    border-radius: 5px;
    cursor: pointer;
}
