html {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.contener {
    max-width: 1320px;
    padding: 15px 10px;
    margin: 0 auto;
}

.footer-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
